/* ------------------------------- Header ------------------------------- */

#about-me {
  background-color: #c6a600;
  color: #333333;
  border-color: #c6a600;
  cursor: default;
}

#about-me:hover {
  background-color: #c6a600;
  color: #333333;
  border-color: #c6a600;
  box-shadow: none;
}

/* ===== Side Menu ===== */

#about-me-side-menu {
  color: #ecc502;
  font-size: 20px;
  font-weight: 600;
}

#about-me-side-menu:hover {
  text-decoration: none;
  color: #ecc502;
  cursor: default;
}

/* ------------------------------- Profile ------------------------------- */

.profile-image-box {
  height: 248px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
  position: relative;
}

.profile-content {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#profile-image {
  width: 170px;
  height: 170px;
  border-radius: 100%;
  border: 3px solid #c6a600;
}

#profile-name {
  width: 215px;
  margin: 10px;
  padding-top: 5px;
  font-family: "Monotype Corsiva";
  font-style: italic;
  font-weight: 400;
  font-size: 35px;
  line-height: 39px;
  align-items: center;
  text-align: center;
  color: #060606;
  -webkit-text-stroke: 1px #c6a600;
}

#profile-side-art {
  height: 275px;
  opacity: 0.7;
}

/* ------------------------------- Content ------------------------------- */

.sub-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 30px 30px 30px;
}

.title-text {
  color: #c6a600;
  font-size: 2.5rem;
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  padding-top: 10px;
}

.paragraph-text {
  color: #ffffff;
  font-size: 1.6rem;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 100;
  font-style: normal;
  text-align: justify;
  padding: 0px 40px 40px 40px;
}

.side-img {
  align-self: center;
  height: 350px;
  width: 350px;
  object-fit: contain;
}

.main-text {
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 100;
}

.sub-header {
  font-family: "Merriweather", serif;
  color: #c6a600;
  font-size: 1.4rem;
  font-weight: 300;
  text-decoration: underline;
  line-height: 3;
}

.sub-text {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 100;
  padding-top: 10px;
}

/* ------------------------------- Media Query ------------------------------- */

@media screen and (min-width: 1440px) {
  /* ===== Profile ===== */

  .profile-image-box {
    height: 248px;
  }

  .profile-content {
    width: 200px;
  }

  #profile-image {
    width: 170px;
    height: 170px;
  }

  #profile-name {
    width: 215px;
    font-size: 35px;
  }

  #profile-side-art {
    height: 275px;
  }

  /* ===== Content ===== */

  .title-text {
    font-size: 2.5rem;
    padding-top: 10px;
  }

  .paragraph-text {
    font-size: 1.6rem;
  }

  .side-img {
    height: 350px;
    width: 350px;
  }

  .main-text {
    font-size: 1.6rem;
  }

  .sub-header {
    font-size: 1.4rem;
  }

  .sub-text {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  /* ===== Profile ===== */

  .profile-image-box {
    height: 220px;
  }

  .profile-content {
    width: 150px;
  }

  #profile-image {
    width: 150px;
    height: 150px;
  }

  #profile-name {
    width: 215px;
    font-size: 32px;
  }

  #profile-side-art {
    height: 248px;
  }

  /* ===== Content ===== */

  .title-text {
    font-size: 2.4rem;
    padding-top: 10px;
  }

  .paragraph-text {
    font-size: 1.5rem;
  }

  .side-img {
    height: 330px;
    width: 330px;
  }

  .main-text {
    font-size: 1.5rem;
  }

  .sub-header {
    font-size: 1.3rem;
  }

  .sub-text {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* ===== Profile ===== */

  .profile-image-box {
    height: 190px;
  }

  #profile-image {
    width: 130px;
    height: 130px;
  }

  #profile-name {
    width: 215px;
    font-size: 30px;
    margin: 6px;
  }

  #profile-side-art {
    height: 210px;
  }

  /* ===== Content ===== */

  .title-text {
    font-size: 2.2rem;
    padding-top: 8px;
  }

  .paragraph-text {
    font-size: 1.3rem;
    padding: 0px 30px 30px 30px;
  }

  .side-img {
    height: 300px;
    width: 300px;
  }

  .main-text {
    font-size: 1.3rem;
  }

  .sub-header {
    font-size: 1.1rem;
  }

  .sub-text {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  /* ===== Profile ===== */

  .profile-image-box {
    height: 160px;
  }

  #profile-image {
    width: 100px;
    height: 100px;
  }

  #profile-name {
    width: 215px;
    font-size: 26px;
    margin: 4px;
  }

  #profile-side-art {
    height: 185px;
  }

  /* ===== Content ===== */

  .title-text {
    font-size: 1.8rem;
    padding-top: 5px;
  }

  .paragraph-text {
    font-size: 1rem;
    padding: 0 20px;
  }

  .side-img {
    height: 200px;
    width: 200px;
  }

  .sub-content {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .main-text {
    font-size: 1rem;
  }

  .sub-header {
    font-size: 0.9rem;
  }

  .sub-text {
    font-size: 0.7rem;
  }
}

@media screen and (min-width: 375px) and (max-width: 424px) {
  
  /* ===== Header ===== */

  #about-me-side-menu {
    font-size: 18px;
  }

  /* ===== Profile ===== */

  .profile-image-box {
    height: 140px;
  }

  #profile-image {
    width: 90px;
    height: 90px;
  }

  #profile-name {
    width: 215px;
    font-size: 24px;
    margin: 4px;
  }

  #profile-side-art {
    height: 160px;
  }

  /* ===== Content ===== */

  .title-text {
    font-size: 1.6rem;
    padding-top: 3px;
  }

  .paragraph-text {
    font-size: 0.8rem;
    padding: 0 20px;
  }

  .side-img {
    height: 180px;
    width: 180px;
  }

  .sub-content {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .main-text {
    font-size: 0.8rem;
  }

  .sub-header {
    font-size: 0.7rem;
  }

  .sub-text {
    font-size: 0.6rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 374px) {
  /* ===== Header ===== */

  #about-me-side-menu {
    font-size: 16px;
  }

  /* ===== Profile ===== */

  .profile-image-box {
    height: 140px;
  }

  #profile-image {
    width: 90px;
    height: 90px;
  }

  #profile-name {
    width: 215px;
    font-size: 24px;
    margin: 4px;
  }

  #profile-side-art {
    height: 160px;
  }

  /* ===== Content ===== */

  .title-text {
    font-size: 1.6rem;
    padding-top: 3px;
  }

  .paragraph-text {
    font-size: 0.8rem;
    padding: 0 20px;
  }

  .side-img {
    height: 180px;
    width: 180px;
  }

  .sub-content {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .main-text {
    font-size: 0.8rem;
  }

  .sub-header {
    font-size: 0.7rem;
  }

  .sub-text {
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 319px) {
  /* ===== Header ===== */

  #about-me-side-menu {
    font-size: 16px;
  }

  /* ===== Profile ===== */

  .profile-image-box {
    height: 140px;
  }

  #profile-image {
    width: 90px;
    height: 90px;
  }

  #profile-name {
    width: 215px;
    font-size: 24px;
    margin: 4px;
  }

  #profile-side-art {
    display: none;
  }

  /* ===== Content ===== */

  .title-text {
    font-size: 1.6rem;
    padding-top: 3px;
  }

  .paragraph-text {
    font-size: 0.8rem;
    padding: 0 20px;
  }

  .side-img {
    height: 180px;
    width: 180px;
  }

  .sub-content {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .main-text {
    font-size: 0.8rem;
  }

  .sub-header {
    font-size: 0.7rem;
  }

  .sub-text {
    font-size: 0.6rem;
  }
}
