/* ------------------------------- Header ------------------------------- */

#gallery {
  background-color: #c6a600;
  color: #333333;
  border-color: #c6a600;
  cursor: default;
}

#gallery:hover {
  background-color: #c6a600;
  color: #333333;
  border-color: #c6a600;
  box-shadow: none;
}

/* ===== Side Menu ===== */

#gallery-side-menu {
  color: #ecc502;
  font-size: 20px;
  font-weight: 600;
}

#gallery-side-menu:hover {
  text-decoration: none;
  color: #ecc502;
  cursor: default;
}

/* ------------------------------- Content ------------------------------- */

.section-header {
  font-family: "Merriweather", serif;
  color: #c6a600;
  font-size: 1.7rem;
  padding-left: 50px;
  padding-bottom: 20px;
}

.section-content {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 5px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  white-space: nowrap;
  scroll-behavior: smooth;
}

.item-container {
  height: 300px;
  width: 405px;
  border: 3px solid #c6a600;
  border-radius: 30px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-shrink: 0;
}

.item-image {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

/* ------------------------------- Media Query ------------------------------- */

@media screen and (min-width: 1440px) {
  /* ===== Content ===== */

  .section-header {
    font-size: 1.7rem;
    padding-left: 50px;
    padding-bottom: 20px;
  }

  .item-container {
    height: 300px;
    width: 400px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  /* ===== Content ===== */

  .section-header {
    font-size: 1.7rem;
    padding-left: 40px;
    padding-bottom: 15px;
  }

  .item-container {
    height: 200px;
    width: 280px;
    border-radius: 25px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* ===== Content ===== */

  .section-header {
    font-size: 1.5rem;
    padding-left: 30px;
    padding-bottom: 10px;
  }

  .item-container {
    height: 230px;
    width: 320px;
    border-width: 2.5px;
    border-radius: 25px;
  }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  /* ===== Content ===== */

  .section-header {
    font-size: 1.4rem;
    padding-left: 0;
    padding-bottom: 8px;
    text-align: center;
  }

  .item-container {
    height: 250px;
    width: 350px;
    border-width: 2px;
    border-radius: 20px;
  }
}

@media screen and (min-width: 375px) and (max-width: 424px) {
  /* ===== Header ===== */

  #gallery-side-menu {
    font-size: 18px;
  }

  /* ===== Content ===== */

  .section-header {
    font-size: 1.2rem;
    padding-left: 0;
    padding-bottom: 6px;
    text-align: center;
  }

  .item-container {
    height: 230px;
    width: 320px;
    border-width: 2px;
    border-radius: 20px;
  }
}

@media screen and (min-width: 320px) and (max-width: 374px) {
  /* ===== Header ===== */

  #gallery-side-menu {
    font-size: 16px;
  }

  /* ===== Content ===== */

  .section-header {
    font-size: 1.2rem;
    padding-left: 0;
    padding-bottom: 6px;
    text-align: center;
  }

  .item-container {
    height: 200px;
    width: 260px;
    border-width: 2px;
    border-radius: 20px;
  }
}

@media screen and (max-width: 319px) {
  /* ===== Header ===== */

  #gallery-side-menu {
    font-size: 16px;
  }

  /* ===== Content ===== */

  .section-header {
    font-size: 1.2rem;
    padding-left: 0;
    padding-bottom: 5px;
    text-align: center;
  }

  .item-container {
    height: 180px;
    width: 230px;
    border-width: 2px;
    border-radius: 20px;
  }
}
