body {
  margin: 0;
  overflow-x: hidden;
}

.background {
  background-color: #c6a600;
  margin: 0;
  padding: 18px 5px 5px 5px;
}

.content-bg {
  height: 100%;
  width: 100%;
  background: linear-gradient(
    to bottom,
    #060606 51%,
    #1c1b1b 82%,
    #1b1b1b 100%
  );
  border-radius: 30px;
  align-items: center;
  justify-content: center;
}

/* ------------------------------- Header ------------------------------- */

.header-box {
  scale: 1.005;
  height: 110px;
  background: linear-gradient(
    to bottom,
    #060606 51%,
    #1c1b1b 82%,
    #1b1b1b 100%
  );
  border: 3px solid #c6a600;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#header-logo {
  height: 90px;
  width: 90px;
  padding-left: 50px;
}

.navigation-box {
  margin: 0 auto;
  padding-right: 140px;
}

.menu {
  display: flex;
  padding: 0;
}

.menu li {
  list-style: none;
  font-size: 20px;
}

.menu li a {
  display: inline-block;
  width: 120px;
  height: 17.5px;
  line-height: 17.5px;
  text-align: center;
  padding: 10px 20px;
  background-color: #333333;
  color: #c6a600;
  border: 2px solid #c6a600;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

.left-menu-box {
  border-radius: 30px 0px 0px 30px;
}

.right-menu-box {
  border-radius: 0px 30px 30px 0px;
}

.middle-menu-box {
  border-radius: 0px;
}

.menu li a:hover {
  background-color: #ecc502;
  color: #333333;
  border-color: #ecc502;
  box-shadow: #ecc502 0px 0px 10px;
}

#gallery {
  background-color: #c6a600;
  color: #333333;
  border-color: #c6a600;
  cursor: default;
}

#gallery:hover {
  background-color: #c6a600;
  color: #333333;
  border-color: #c6a600;
  box-shadow: none;
}

/* ------------------------------- Footer ------------------------------- */

.footer-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 10px 20px;
}

#copyright {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 15px;
  opacity: 0.8;
  text-align: center;
  color: #c6a600;
}

.main-box {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.left-side-box {
  width: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.middle-box {
  width: 400px;
}

.right-side-box {
  width: 190px;
  margin-right: 10px;
}

.contact-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 43px;
  column-gap: 10px;
}

.contact-icon {
  width: 30px;
  height: 30px;
  padding: 0px 10px;
}

.contact-text {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 15px;
  text-align: justify;
  color: #c6a600;
}

#footer-name {
  font-family: "Playwrite CU", cursive;
  font-weight: 600;
  font-size: 30px;
  color: #c6a600;
}

#footer-image {
  width: 150px;
  height: 150px;
  border-radius: 180px;
}

#follow-me-text {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 15px;
  text-align: justify;
  color: #c6a600;
  justify-self: flex-start;
}

.social-media {
  width: 100%;
  align-self: flex-end;
  text-align: center;
}

.social-media-icon {
  width: 40px;
  height: 40px;
}

#email-icon {
  height: 30px;
  width: 40px;
  padding: 5px;
}

.social-media a {
  text-decoration: none;
}

.social-media-icon:hover {
  transition: ease-in 0.3s;
  transform: scale(1.2);
}
