/* ------------------------------- Header ------------------------------- */

#skills {
  background-color: #c6a600;
  color: #333333;
  border-color: #c6a600;
  cursor: default;
}

#skills:hover {
  background-color: #c6a600;
  color: #333333;
  border-color: #c6a600;
  box-shadow: none;
}

/* ===== Side Menu ===== */

#skills-side-menu {
  color: #ecc502;
  font-size: 20px;
  font-weight: 600;
}

#skills-side-menu:hover {
  text-decoration: none;
  color: #ecc502;
  cursor: default;
}

/* ------------------------------- Content ------------------------------- */

.section-intro {
  display: flex;
}

.section-img {
  height: 200px;
  width: 210px;
  padding-left: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 0 auto;
  align-self: center;
  object-fit: contain;
}

.content-text {
  color: #ffffff;
  font-size: 1.6rem;
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-align: justify;
  padding: 70px;
}

.skill-container {
  width: 100%;
  margin: 50px 0;
}

.header {
  font-family: "Merriweather", serif;
  color: #c6a600;
  font-size: 1.5rem;
  text-decoration: underline;
  padding-left: 50px;
  margin-bottom: 30px;
}

.skill {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skill-text {
  width: 300px;
  color: #ffffff;
  font-size: 1.3rem;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  word-spacing: 20px;
  text-align: left;
  margin: 5px;
}

.skill-value {
  width: 100px;
  color: #ffffff;
  font-size: 1.3rem;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  word-spacing: 20px;
  text-align: left;
  margin: 5px;
}

.line-border {
  height: 15px;
  width: 70%;
  border: 3px solid #c6a600;
  border-radius: 30px;
  margin-left: 50px;
}

.line {
  height: 100%;
  border-radius: 30px;
  background-color: #c6a600;
}

/* ------------------------------- Media Query ------------------------------- */

@media screen and (min-width: 1440px) {
  /* ===== Content ===== */

  .section-img {
    height: 200px;
    width: 210px;
    padding-left: 100px;
  }

  .content-text {
    font-size: 1.6rem;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .header {
    font-size: 1.5rem;
    padding-left: 50px;
    margin-bottom: 30px;
  }

  .skill-text {
    width: 300px;
    font-size: 1.3rem;
    word-spacing: 20px;
    margin: 5px;
  }

  .skill-value {
    width: 100px;
    font-size: 1.3rem;
    word-spacing: 20px;
    margin: 5px;
  }

  .line-border {
    height: 15px;
    width: 70%;
    border-width: 3px;
    margin-left: 50px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  /* ===== Content ===== */

  .section-img {
    height: 200px;
    width: 200px;
    padding-left: 80px;
  }

  .content-text {
    font-size: 1.5rem;
    padding: 50px 70px 50px 50px;
  }

  .header {
    font-size: 1.5rem;
    padding-left: 40px;
    margin-bottom: 30px;
  }

  .skill-text {
    width: 300px;
    font-size: 1.3rem;
    word-spacing: 15px;
    margin: 5px;
  }

  .skill-value {
    width: 100px;
    font-size: 1.3rem;
    word-spacing: 15px;
    margin: 5px;
  }

  .line-border {
    height: 15px;
    width: 70%;
    border-width: 3px;
    margin-left: 40px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* ===== Content ===== */

  .section-img {
    height: 180px;
    width: 180px;
    padding-left: 60px;
  }

  .content-text {
    font-size: 1.3rem;
    padding: 40px 60px 40px 40px;
  }

  .header {
    font-size: 1.3rem;
    padding-left: 30px;
    margin-bottom: 20px;
  }

  .skill-container {
    margin: 40px 0;
  }

  .skill-text {
    width: 250px;
    font-size: 1.1rem;
    word-spacing: 15px;
    margin: 4px;
  }

  .skill-value {
    width: 80px;
    font-size: 1.1rem;
    word-spacing: 15px;
    margin: 4px;
  }

  .line-border {
    height: 13px;
    width: 70%;
    border-width: 3px;
    margin-left: 40px;
  }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  /* ===== Content ===== */

  .section-intro {
    flex-direction: column;
  }

  .section-img {
    height: 180px;
    width: 180px;
    padding: 0;
    margin-top: 20px;
  }

  .content-text {
    font-size: 1rem;
    padding: 20px;
  }

  .header {
    font-size: 1rem;
    padding-left: 15px;
    margin-bottom: 10px;
  }

  .skill-container {
    margin: 30px 0;
  }

  .skill-text {
    width: 250px;
    font-size: 0.9rem;
    word-spacing: 5px;
    margin: 2px;
  }

  .skill-value {
    width: 80px;
    font-size: 0.9rem;
    word-spacing: 5px;
    margin: 2px;
  }

  .line-border {
    height: 10px;
    width: 70%;
    border-width: 2.5px;
    margin-left: 20px;
  }
}

@media screen and (min-width: 375px) and (max-width: 424px) {
  /* ===== Header ===== */

  #skills-side-menu {
    font-size: 18px;
  }

  /* ===== Content ===== */

  .section-intro {
    flex-direction: column;
  }

  .section-img {
    height: 140px;
    width: 140px;
    padding: 0;
    margin-top: 15px;
  }

  .content-text {
    font-size: 0.8rem;
    padding: 20px;
  }

  .header {
    font-size: 0.8rem;
    padding-left: 15px;
    margin-bottom: 8px;
  }

  .skill-container {
    margin: 25px 0;
  }

  .skill-text {
    width: 210px;
    font-size: 0.7rem;
    word-spacing: 4px;
    margin: 2px;
  }

  .skill-value {
    width: 60px;
    font-size: 0.7rem;
    word-spacing: 4px;
    margin: 2px;
  }

  .line-border {
    height: 8px;
    width: 70%;
    border-width: 2px;
    margin-left: 18px;
  }
}

@media screen and (min-width: 320px) and (max-width: 374px) {
  /* ===== Header ===== */

  #skills-side-menu {
    font-size: 16px;
  }

  /* ===== Content ===== */

  .section-intro {
    flex-direction: column;
  }

  .section-img {
    height: 140px;
    width: 140px;
    padding: 0;
    margin-top: 10px;
  }

  .content-text {
    font-size: 0.8rem;
    padding: 20px;
  }

  .header {
    font-size: 0.8rem;
    padding-left: 12px;
    margin-bottom: 8px;
  }

  .skill-container {
    margin: 20px 0;
  }

  .skill-text {
    width: 210px;
    font-size: 0.7rem;
    word-spacing: 3px;
    margin: 2px;
  }

  .skill-value {
    width: 65px;
    font-size: 0.7rem;
    word-spacing: 3px;
    margin: 2px;
  }

  .line-border {
    height: 8px;
    width: 70%;
    border-width: 1.5px;
    margin-left: 16px;
  }
}

@media screen and (max-width: 319px) {
  /* ===== Header ===== */

  #skills-side-menu {
    font-size: 16px;
  }

  /* ===== Content ===== */

  .section-intro {
    flex-direction: column;
  }

  .section-img {
    height: 140px;
    width: 140px;
    padding: 0;
    margin-top: 8px;
  }

  .content-text {
    font-size: 0.8rem;
    padding: 20px;
  }

  .header {
    font-size: 0.8rem;
    padding-left: 12px;
    margin-bottom: 6px;
  }

  .skill-container {
    margin: 15px 0;
  }

  .skill-text {
    width: 210px;
    font-size: 0.7rem;
    word-spacing: 2px;
    margin: 1px;
  }

  .skill-value {
    width: 65px;
    font-size: 0.7rem;
    word-spacing: 2px;
    margin: 1px;
  }

  .line-border {
    height: 6px;
    width: 70%;
    border-width: 1px;
    margin-left: 14px;
  }
}
