/* ------------------------------- Header ------------------------------- */

#works {
  background-color: #c6a600;
  color: #333333;
  border-color: #c6a600;
  cursor: default;
}

#works:hover {
  background-color: #c6a600;
  color: #333333;
  border-color: #c6a600;
  box-shadow: none;
}

/* ===== Side Menu ===== */

#works-side-menu {
  color: #ecc502;
  font-size: 20px;
  font-weight: 600;
}

#works-side-menu:hover {
  text-decoration: none;
  color: #ecc502;
  cursor: default;
}

/* ------------------------------- Content ------------------------------- */

.section-header {
  font-family: "Merriweather", serif;
  color: #c6a600;
  font-size: 1.7rem;
  padding-left: 50px;
  padding-bottom: 20px;
}

.item-container {
  height: 300px;
  width: 80%;
  border: 3px solid #c6a600;
  border-radius: 30px;
  padding: 20px;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-image {
  height: 100%;
  object-fit: contain;
}

.item-content {
  height: 100%;
  width: 100%;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow-y: auto;
  padding-right: 20px;
}

.item-header {
  font-family: "Merriweather", serif;
  color: #c6a600;
  font-size: 1.3rem;
  text-decoration: underline;
  margin-top: 10px;
  margin-bottom: 30px;
  align-self: flex-start;
}

.item-paragraph {
  color: #ffffff;
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-align: justify;
}

.item-button {
  text-decoration: none;
  /* display: none; */
}

.item-button button {
  height: 40px;
  width: 200px;
  border: 3px solid #c6a600;
  border-radius: 10px;
  background-color: #060606;
  color: #c6a600;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  margin: 20px 0;
  cursor: pointer;
  scale: 1;
  transition: scale 0.2s ease-in-out;
}

.item-button button:hover {
  border: 0;
  background-color: #ecc502;
  color: #060606;
  scale: 1.05;
  box-shadow: #ecc502 0px 0px 10px;
}

/* ------------------------------- Media Query ------------------------------- */

@media screen and (min-width: 1440px) {
  /* ===== Content ===== */

  .section-header {
    font-size: 1.7rem;
  }

  .item-container {
    height: 300px;
    padding: 20px;
  }

  .item-header {
    font-size: 1.3rem;
  }

  .item-paragraph {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  /* ===== Content ===== */

  .section-header {
    font-size: 1.7rem;
  }

  .item-container {
    height: 250px;
    padding: 10px;
    border-radius: 25px;
  }

  .item-header {
    font-size: 1.2rem;
  }

  .item-paragraph {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* ===== Content ===== */

  .section-header {
    font-size: 1.5rem;
    padding-left: 30px;
    padding-bottom: 10px;
    margin: 10px 0;
  }

  .item-container {
    height: 180px;
    padding: 10px;
    border-width: 2.5px;
    border-radius: 25px;
  }

  .item-header {
    font-size: 1.1rem;
    margin-top: 8px;
    margin-bottom: 20px;
  }

  .item-paragraph {
    font-size: 1rem;
  }

  .item-content {
    margin-left: 20px;
    padding-right: 15px;
  }

  .item-button button {
    height: 35px;
    width: 180px;
    font-size: 0.9rem;
    margin: 20px 0;
  }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  /* ===== Content ===== */

  .section-header {
    font-size: 1.4rem;
    padding-left: 0;
    padding-bottom: 8px;
    margin: 10px 0;
    text-align: center;
  }

  .item-container {
    height: 100px;
    padding: 8px;
    border-width: 2px;
    border-radius: 20px;
  }

  .item-header {
    font-size: 0.8rem;
    margin-top: 8px;
    margin-bottom: 20px;
  }

  .item-paragraph {
    font-size: 0.7rem;
  }

  .item-content {
    margin-left: 10px;
    padding-right: 10px;
  }

  .item-button button {
    height: 25px;
    width: 140px;
    border-width: 2px;
    font-size: 0.7rem;
    margin: 20px 0;
  }
}

@media screen and (min-width: 375px) and (max-width: 424px) {
  /* ===== Header ===== */

  #works-side-menu {
    font-size: 18px;
  }

  /* ===== Content ===== */

  .section-header {
    font-size: 1.2rem;
    padding: 0;
    margin: 8px 0;
    text-align: center;
  }

  .item-container {
    height: 300px;
    padding: 5px;
    border-width: 2px;
    border-radius: 20px;
    flex-direction: column;
  }

  .item-image {
    height: 150px;
  }

  .item-header {
    font-size: 0.8rem;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
  }

  .item-paragraph {
    font-size: 0.7rem;
  }

  .item-content {
    width: 95%;
    margin: 6px 0;
    padding: 0 8px;
  }

  .item-button button {
    height: 30px;
    width: 150px;
    border-width: 2px;
    font-size: 0.7rem;
    margin: 20px 0;
    align-self: center;
  }
}

@media screen and (min-width: 320px) and (max-width: 374px) {
  /* ===== Header ===== */

  #works-side-menu {
    font-size: 16px;
  }

  /* ===== Content ===== */

  .section-header {
    font-size: 1.2rem;
    padding: 0;
    margin: 8px 0;
    text-align: center;
  }

  .item-container {
    height: 350px;
    padding: 8px;
    border-width: 2px;
    border-radius: 20px;
    flex-direction: column;
  }

  .item-image {
    width: 100%;
  }

  .item-header {
    font-size: 0.8rem;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
  }

  .item-paragraph {
    font-size: 0.7rem;
  }

  .item-content {
    width: 95%;
    margin: 10px 0;
    padding: 0;
  }

  .item-button button {
    height: 25px;
    width: 140px;
    border-width: 2px;
    font-size: 0.7rem;
    margin: 20px 0;
    align-self: center;
  }
}

@media screen and (max-width: 319px) {
  /* ===== Header ===== */

  #works-side-menu {
    font-size: 16px;
  }

  /* ===== Content ===== */

  .section-header {
    font-size: 1.2rem;
    padding: 0;
    margin: 8px 0;
    text-align: center;
  }

  .item-container {
    height: 350px;
    padding: 8px;
    border-width: 2px;
    border-radius: 20px;
    flex-direction: column;
  }

  .item-image {
    width: 100%;
  }

  .item-header {
    font-size: 0.8rem;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
  }

  .item-paragraph {
    font-size: 0.7rem;
  }

  .item-content {
    width: 95%;
    margin: 10px 0;
    padding: 0;
  }

  .item-button button {
    height: 25px;
    width: 130px;
    border-width: 2px;
    font-size: 0.6rem;
    margin: 20px 0;
    border-radius: 5px;
    align-self: center;
  }
}
